.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-rotation {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #a4c8ff;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.247);
}

.check_list input:hover, .check_list label:hover{
  cursor: pointer;
}


.check_list label{
  width: 100%;
  /* background-color: #a4c8ff; */
}